*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

*:not(i) {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ae9cff;
}

button {
    cursor: pointer;
}

.container {
    width: 90vmin;
    padding: 80px 50px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box {
    display: flex;
    justify-content: space-between;
}

.search-box input {
    padding: 5px;
    width: 70%;
    border-bottom: 3px solid #ae9cff;
    font-size: 16px;
}

.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #ae9cff;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.result h3 {
    font-size: 30px;
    color: #1f194c;
}

.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.result button {
    background-color: transparent;
    color: #ae9cff;
    font-size: 18px;
}

.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.word-meaning {
    color: #575a7b;
}

.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}

.main-error {
    margin: 80px 0 40px 0;
    text-align: center;
}

.error {
    color: #575a7b;
    margin: 15px 0;
    font-size: 18px;
}
